<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false" backupStaticAttributes="false" colors="true" verbose="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="DB_CONNECTION" value="sqlite"/>
    <env name="DB_DATABASE" value="/database/database.sqlite"/>
    <env name="APP_DEBUG" value="true"/>
    <env name="APP_KEY" value="base64:YWIovmICmAkQoSrAyvn15kD1j9IuaWKIyrgMTyaxMjk="/>
    <env name="PERMISSION_MODEL_NAMESPACE" value="Rkj\Permission\Tests\Models"/>
  </php>
</phpunit>
